.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px; /* agregado */
  background: #0d6efd;
  color: white;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
